@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background: white;
  color: black;
}

#app {
  height: 100vh;
  width: 100vw;
}

/* Add this CSS to your app.css file or a separate CSS file */
.circular-loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid transparent;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
